div.hamburger {
    padding-top: 40px;
    position: fixed;
    /* bottom: 35px; */
    right: 65px;
    width: 2rem;
    /* height: 3rem; */
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 100;
}
 #one {
    
    width: 2.5rem;
    height: 0.22rem;
    background-color: #32bacc; 
    /* border-radius: 2px; */
    transform-origin: 1px;
    transition: all 0.3s linear; 
    padding: 2px 0 2px 0;
    margin: 1px 0 2px 0;
}
 #two {
   
    width: 2.5rem;
    height: 0.22rem;
    background-color: #32bacc; 
    /* border-radius: 2px; */
    transform-origin: 1px;
    transition: all 0.3s linear; 
    padding: 2px 0 2px 0;
    margin: 2px 0 2px 0;
}
 #three { 
    width: 2.5rem;
    height: 0.22rem;
    background-color: #32bacc; 
    /* border-radius: 2px; */
    transform-origin: 1px;
    transition: all 0.3s linear;
    padding: 2px 0 2px 0;
    margin: 2px 0 2px 0;
}

@media (min-width: 1024px) {
    div.hamburger {
            display: none;
    }
}