.card-container {
    display: flex;
    border: 2px solid black;
    justify-content: space-around;
    border-radius: 4px;
    padding: 50px;
    flex-wrap: wrap;
}

/* .card-text {
    text-align: center;

} */

.project-image {
    width: 250px;
    height: 250px;
}