
.main-container {
    display: block;
    padding-top: 80px;
    text-align: center;
  }

  
  #home-icons {
    display: flex;
    justify-content: center;
    /* border: 2px solid #32bacc; */
    border-radius: 4px;
    border-top: black;
    margin: 10px auto;
    max-width: 200px;
    padding: 5px;
    text-decoration: none #32bacc;
  }

  a:hover{
    border: 2px solid #a3a3a3;
    -moz-transition: all 0s ease-in;
    -o-transition: all 0s ease-in;
    -webkit-transition: all 0s ease-in;
    transition: all 0s ease-in;
  }
  
  .icon {
    margin: 25px;
  }