.main-container {
    display: block;
    padding-top: 80px;
    text-align: center;
  }

  
  #home-icons {
    display: flex;
    justify-content: center;
    border: 2px solid #32bacc;
    border-radius: 4px;
    border-top: black;
    margin: 10px auto;
    max-width: 200px;
    padding: 5px;
    text-decoration: underline #32bacc;
  }
  
  /* .click-icons {
    display: flex;
    width: 250px;
    height: 250px;
    align-items: center;
  } */
  
  .icon {
    margin: 25px;
    /* margin-bottom: 10px; */
  }